<div class="container">
		<%= semantic_form_for 'people', :html => { :id => "people_find" } do |f| %> 
		
	   
		 <div class="span12">
		 	<%= f.input "Activity", :as => :text %> 
		 </div>
		     <div class="span4">
		     		<div class="input-append bootstrap-timepicker-component">
				      <%= f.input "Select Time", :input_html => { :id => "people_time", :class => "timepicker-default input-small" } %>
					 
		           
		      </div> 
		    </div>
		    <div class="span4"> 
					<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
					  <%= f.input "Select Date", :input_html => { :id => "people_date"}  %>   
					</div>
			   			 
			       	 
			  </div>
		
		    <div class="span12"> 
		    <%= f.input "Amount of Money you are willing to spend", :input_html => { :id => "money_willing"}, :as => :number %>  
		     
		   <%= f.input "Number of people needed"%>
		    
		    <%= f.actions do %>
				    <%= f.submit "Save Info" %>
				<% end %>
				</div> 
		 <% end %> 
		
 </div>

<style> 
#people_find {
  list-style:none;
}
</style>  
<script>
$(document).ready(function(ev) {
 $("#people_date").datepicker(); 
 $('#money_willing').blur(function()
 {
                 
$("#money_willing").toNumber().formatCurrency();
 });

$('.timepicker-default').timepicker();

  
});
</script>